%div.box
  %h4.hdng Bacholer of Engineering 
  %h4.headingright 2009-2013
  %h3 Muffakham Jah College of Engineering and Technology
  %h4 Affiliated to Osmania University
  %h5 Electronics and Communication
  %h5 72%
%div.box
  %h4.hdng Intermediate
  %h4.headingright 2007-2009
  %h3 Narayana Junior College
  %h4 Board Of Intermediate
  %h5 MPC
  %h5 87.6%
  %div
    %p “The most important thing we learn at school is the fact that the most important things can't be learned at school.”
%div.box
  %h4.hdng Senior Secondary
  %h4.headingright 2007
  %h3 Atomic Energy Central School - 2
  %h4 Central Board of Secondary Education
  %h5 77%
  %p The most valuable school experiences weren't academic, but all about people - skills, respect, empathy and realizing our own potential. During my school days I learned about winning and losing, I learned that doing our best counted far more than the academic ability.
  %br
  %p Because of teachers, who believed in me, who encouraged me and forced me to move forward, I learned that I was capable of more than I thought. While my Social teacher used to hate me because of my poor performance in Social Studies, I was busy solving maths problems, My niche - Mathematics, Numerical Ability and Logical Reasoning. But later during my Engineering days, i realized that even Social studies is very much important. I have been out of school for many years, but I still look back at the lessons I learned, and try to follow and pass them to others.
