%div.experience
  %h3.hding EXPERIENCE
  %div.box
    %h4.hdng Ruby on Rails Developer
    %h4.exp - 10 Months
    %h4.headingright Since June 2013
    %h5 RubyEffect Software Solutions Pvt. Ltd.
    %p RubyEffect is a web, enterprise and mobile application development outfit with its core technology expertise lying in Ruby on Rails (RoR) and iOS tools. It has been on the forefront of using RoR since 2006 and have a rich history of utilising it on various scales of applications.
    %br Please visit our website: 
    =link_to "rubyeffect.com", "http://rubyeffect.com", :target => "blank"
%div.projects  
  %div.professional
    %h3.hding PROFESSIONAL PROJECTS
    %div.box
      %h4.hdng Online Resume - Md Azharuddin
      %h4.headingright 2013
      %p
      %b Tools :
      Ruby, HTML, CSS, jQuery, JS, Ruby on Rails.
      %p Online Resume contains the details of my education, Projects, Experience, skills and Achievements, etc.
    %div.box
      %h4.hdng Job-Importer
      %h4.headingright 2013
      %p
      %b Tools :
      Ruby, HTML, CSS, Ruby on Rails. etc.,
      %p This technique is used to import the job details from various websites including associations and company career pages. I particularly Worked on Front-end part of the project which includes User-Interface Layouts & designing and little bit of back-end functionality which includes integration with social networks and authentication.
    %div.box
      %h4.hdng Jobsin
      %h4.headingright 2013
      %p 
      %b Tools :
      Ruby, Ruby on Rails.
      %p JobsIn.com is an employment-related metasearch engine for job listings. The site aggregates job listings from thousands of websites, including job boards, associations and company career pages. I worked on scraping job-details from these various websites.
  %div.academic
    %h3.hding ACADEMIC PROJECTS
    %div.box
      %h4.hdng Design of Analog Blocks for Sigma-Delta ADC
      %h4.headingright 2012-2013
      %p
      %b Tools :
      Cadence software
      %p This technique is used for many audio applications. DEM is a dynamic process that reduces the effects of component mismatches in electronic circuits.
    %div.box
      %h4.hdng Bore Pump Automation
      %h4.headingright 2011
      %p
      %b Tools :
      Relay switches, transistors, resistors, capacitors, etc.
      %p The circuit automatically controls the level of water in the tank and monitors the switch accordingly.
    %div.box
      %h4.hdng Soccer Robot
      %h4.headingright 2010
      %p
      %b Tools :
      DC motors, Switches, wires, etc.
      %p A Manual robot which is used to play with the ball in the soccer Arena. Its task is used to trap a ball and hit it in the scoring area. My part in this project was all the wire connections from battery to switches & motors, and soldering them.
