%div.box
  %h4.hdng Skills
  %table.posts
    %tbody
      %tr
        %th Programming language
        %td C, Ruby, HTML, CSS, jQuery, Java Script, Ruby on Rails
      %tr
        %th Operating systems
        %td Windows 9x, Ubuntu
      %tr
        %th Office Tools
        %td Microsoft Office
      %tr
        %th Technical software
        %td PSPICE, MATLAB, Verilog and CADENCE
      
%div.box
  %h4.hdng Awards and Merits:
  %ul
    %li Won the National Championship for organizing Entrepreneurship Week India 2012 on campus, based on the theme “INVENT THE FUTURE” under the banner of National Entrepreneurship Network (NEN) in February 2012.
    
    %li Was awarded a certificate of Leadership 2011 - ‘12 for significant contribution to developing a vibrant ecosystem of entrepreneurship on campus by National Entrepreneurship Network in July 2012.
    
    %li Finished Runner-up in Interclass Cricket tournament at MJCET organized during academic year 2011 – ’12 .
    
    %li Awarded as the “Most Vibrant Student branch” in IEEE STUDENT SECIONAL CONGRESS 2012.
    
    %li Secured 6th position in HELIOS 7.0, a national level strategic B-Game, in Xpressions’12, held at XIM, Bhubaneswar from 1st Nov 2012 to 6th Nov 2012.
  
%div.box
  %h4.hdng Activities:
  %ul
    %li Participated in IEEE XTREME PROGRMMING competition on 22nd Oct 2011.
    
    %li Participated in the INTERNATIONAL STUDENT CONFERENCE on Embedded System and VLSI design at HICC 9th & 10th january2012.
    
    %li Participated in ROBOTICS events and Hardware Modeling, Presented a technical paper on ‘Wi-Fi Technology’ in ‘ADSOPHOS 2k11’, held at MJCET.
    
    %li Co-Organized Mock Interview in SPAC 2k11, held at MJCET
    
    %li Co-Organized B- Quiz in E-WEEK INDIA held on 10th & 11th Feb 2011.
    
    %li Volunteered for Section Student congress of IEEE HYDERABAD SECTION at MJCET in 2011.
    
    %li Was a Member of Robotics club 2010-’11.
    
    %li Member of Esteemed Organization IEEE since 2 years.
    
    %li Member of National Entrepreneurship Network(NEN) since two years.
